@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap");
body {
	font-family: "Montserrat", sans-serif;
	font-weight: 400;
	font-size: 12px;
	line-height: 2;
	letter-spacing: 0.04em;
	color: #2e2f42;
}
a {
	color: #2e2f42;
	text-decoration: none;
}
img {
	width: 100%;
	display: block;
	height: auto;
}
ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
p {
	margin: 0;
}

.gallery {
	display: flex;
	flex-wrap: wrap;
	margin: 15px auto;
	gap: 24px;
	max-width: 1128px;
	justify-content: center;
}

.gallery-item {
	border: 1px solid #808080;
	display: block;
	position: relative;
	width: 360px;
}
.img-frame {
	height: 200px;
	width: 100%;
	overflow: hidden;

	display: flex;
	justify-content: center;
	align-items: center;
}
.img-frame img {
}
.img-info {
	background-color: #fff;
	display: flex;
	justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 48px;
}
.img-info li {
	display: inline-flex;
	flex-direction: column;
	align-items: center;
}
.info-headers {
	font-weight: 600;
	line-height: 1.33;
}
.info-text {
}

.form {
	width: max-content;
	margin: 15px auto;
}
.search-querry {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #808080;
	width: 272px;
	height: 40px;
	border: 1px solid #808080;
	border-radius: 4px;
	padding: 8px 16px;
}
.search-querry:hover {
	border-color: #000;
}
.search-querry:focus {
	border-color: #4e75ff;
	outline: none;
	color: #2e2f42;
}
.submit-button {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	color: #fff;
	border: none;
	border-radius: 8px;
	padding: 8px 16px;

	background: #4e75ff;
}
.submit-button:hover {
	background-color: #6c8cff;
	cursor: pointer;
}

.loader.hidden {
	display: none;
}
.loader {
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 32px;
	height: 32px;
	position: absolute;
	border-radius: 50%;
	color: #ff9100;
	animation: fill 1s ease-in infinite alternate;
}
.loader::before,
.loader::after {
	content: "";
	position: absolute;
	height: 100%;
	width: 100%;
	border-radius: 50%;
	left: 48px;
	top: 0;
	animation: fill 0.9s ease-in infinite alternate;
}

.loader::after {
	left: auto;
	right: 48px;
	animation-duration: 1.1s;
}

@keyframes fill {
	0% {
		box-shadow: 0 0 0 2px inset;
	}
	100% {
		box-shadow: 0 0 0 10px inset;
	}
}
